# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Env files
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp

# Whisper models
*.pt

# Chroma DB
chroma/

# Node (future frontend)
node_modules/